<!DOCTYPE html>

<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}" dir="ltr" class="h-100" itemscope itemtype="http://schema.org/WebPage">
	<head>
		{{- partial "head.html" . -}}
	</head>

	<body class="d-flex flex-column h-100">
		{{ if .IsHome }}
		<header class="jumbotron text-center pt-5 mb-0">
			{{- partial "header.html" . -}}
		</header>
		{{end}}

		<main class="flex-shrink-0">
			{{- block "main" . }}{{- end }}
		</main>

		<footer class="footer mt-auto py-3 bg-dark">
			{{- partial "footer.html" . -}}
		</footer>

		{{- partial "scripts.html" . -}}
	</body>
</html>
